@page "/"


<style>
    h1{
        margin:100px 0 40px 0;
    }

    p {
        border: 0px solid gray;
        border-radius: 7px;
        background-color: lightgray;
        height: 50px;
        text-align: start;
        padding: 12px 0 0 20px;
        
    }
    a:hover{
        font-weight:bold;
        text-underline-offset:unset;
        padding:0 5px 0 5px;
        transition: all 0.5s ease;
    }
</style>
<h1>Hello, Users!</h1>

<p>Welcome to Project Management App! Click <a href="/Projects">here</a> To access the Projects!</p>

